.navbar-nav{
    margin: 0 auto;
}
.navbar{
    background-color: #fff;
}
.my-nav{
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-weight: bold;
}


.slider-image {
    height: 400px;
    background-image: url("../image/banner.jpg");
    background-position: center;
    background-size: cover;
  }

.slider-image .content {
   color: #fff;
}

.contact-us{
    background-color: black;
}
.info{
    margin-top: 50px;
    margin-bottom: 50px;
}

.info h5{
    color: #fff;
}
.info h6{
    color: rgb(64, 142, 216);
}

.cards{
    background-color: #f7f7f9;
}
.h{
    height: 200px;
}
.cards .card{
    margin-top: 80px;
    margin-bottom: 80px;
}
.cards .card-body{
    padding: 50px;
}
.card-text{
    color: grey;
}
.card-body .floting-icon{
    width: 65px;
    height: 65px;
    background-color: rgb(25, 172, 230);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-25px;
    left:40%;
}

.footer_content{
    border-top: 1px solid rgb(180, 180, 180);
    padding:10px;
}
.footer_content img{
    width: 20px;
    height: 20px;
}

.devider{
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}

.blog-header{
    margin-top: 80px;
}
.blog-header p{
    margin:0px;
}
.blog-card .card{
    border-radius: 0px;
}
.blog-card .card-body{
    padding:40px;
}

.footer{
    margin-top: 20px;
    margin-top: 80px;
    background-color: rgb(49, 33, 33);
    color: #fff;
    padding: 40px;
}
.main-footer p{
    margin:0px;
}